/target
/.pixi
/docs/_build
__pycache__/
*.py[cod]
crates/cx-wasm/target/
crates/cx-wasm/pkg/
crates/cx-wasm/www/cx_wasm*
crates/cx-wasm/www/cx.lock
crates/cx-wasm/www/test.conda
/output
recipes/conda-emscripten/lockfile-env/.pixi
cx-jupyterlite/node_modules/
cx-jupyterlite/lib/
cx-jupyterlite/labextension/
cx-jupyterlite/.yarn/
cx-jupyterlite/yarn.lock
cx-jupyterlite/tsconfig.tsbuildinfo
